*{
	margin: 0;
	padding: 0;
}
select{
	height: 24px;
	width: 174px;
}
option{
	text-align: center;
}

hr{
    margin-bottom: 20px;

}

.nav{
	width: 100%;
	height: 50px;
	background-color: #3992d0;
	
}

.content{
	width: 100%;
	height: 1000px;
	margin-top: 2px;
	
}
.left_nav{
	/* width: 160px; */
	width: 12%;
	height: 1000px;
	
	float: left;
}

.right_content{
	
	/* width: 1189px; */
	width: 88%;
	height: 600px;
	float: right;
	
}

/* ----------- */
.tit_info{
	width: 300px;
	height: 100%;
	margin-top: auto;
	float: left;
}
.right_nav{
	width: 210px ;
	height: 100%;
	float: right;
	color: white;
	
	
}
.td_admin{
	width: 70px;
	line-height: 45px;
	color: white;
	
}
.td_info{
	width: 90px;
	line-height: 45px;
	color: white;
}

.td_info>img{
	
	line-height: 50px;
	
}
.td_img{
	width: 50px;
	line-height: 45px;
	
}

.title{
	color: white;
	font-size: 24px;
	font-weight: bold;
	height: auto;
	margin-top: auto;
	height: 100%;
	line-height: 50px;
	
	
}

.info{
	width: 80px;
	height: auto;
	position: absolute;
	right: 60px;
	visibility: hidden;
	text-align: center;
	background-color: black;
	
}

.info_tr a{
	color: #FFFFFF;
	
}

#show:hover{
	cursor: pointer;
}

.info tr>td:hover{
	background-color: peru;
	
}
.skin ul{
	list-style: none;
	text-align: center;	
}

.skin{
	width: 50px;
	height: auto;
	position: absolute;
	right: 14px;
	visibility: hidden;
}

.skin>ul>li:hover{
	cursor: pointer;
	background-color: #626262;
}

/* 左侧 */
dd{
	height: 30px;
}

*{
	font-family:-webkit-pictograph;
	font-size:14px;
	color:#626262;
	margin: 0px;
	padding: 0px;
}

dl,dt,dd{
	display:block;
	margin:0;
}

a{
	text-decoration:none;
	/* margin-top: 3px; */
}



.container{
	width:100%;
	height:100%;
	margin:auto;
	
}

/*left*/
.menus_area{
	width:160px;
	height:auto !important;
	overflow:visible !important;
	/* position:fixed; */
	height:100% !important;
	background-color:#3992d0;
}



.menus_area dt{
	padding-left:40px;
	padding-right:10px;
	background-repeat:no-repeat;
	background-position:10px center;
	background-color: #3992d0;
	color:#f5f5f5;
	font-size:16px;position:relative;
	line-height:48px;
	cursor:pointer;
}

.menus_area dd{
	background-color:#317eb4;
	padding-left:40px;display: none
}

.menus_area dd a{
	color:#f5f5f5;
	line-height:20px;
}


.login_right{
	position:absolute;
	right:10px;
	top:20px;
}

.login_left{
	position: absolute;
	left: 10px;
	top: 10px;
	
}

.con_title{
	width: 100%;
	height: 50px;
	/* border: 1px solid #DEE1E6; */
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	background-color: rgba(205,232,255,0.2) ;
}
.con_title>p{
	font-weight: 800;
}
.p{
	border: 1px solid #DEE1E6;
}

.query{
	text-align: center;
}
.select_all{
	height: 24px;
	font-size: 15px;
}
.select_all p{
	color: white;
	margin-top: -5px;
}
tr{
	/* text-align: center; */
}