<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="#" />

		<link rel="stylesheet" type="text/css" href="{% static 'dormitory/css/bootstrap.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'dormitory/css/login.css' %}"/>
		<script src="{% static 'dormitory/js/jquery-1.12.4.js' %}" type="text/javascript" charset="utf-8"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账号登录</title>

</head>


<body>
    <div id="bg">
        <div id="hint"><!-- 提示框 -->
            <p>登录失败</p>
        </div>
        {{msg}}
        <div id="login_wrap">

            <div id="login"><!-- 登录注册切换动画 -->

                <div id="status">
                    <i style="top: 0">Log</i>
                    <i style="top: 35px">Sign</i>
                    <i style="right: 5px">in</i>

                </div>

                <span>
                    <form action="#" id="form" method="post">
                        {% csrf_token %}
                        <p class="form"><input type="text" id="user" autocomplete="off" name="account" placeholder="账户/学号"></p>
                        <p class="form"><input type="password" id="passwd" name="password" placeholder="密码"></p>


                        <p class="form confirm"><input type="password" id="confirm-passwd" name="password2"  placeholder="确认密码"></p>

                            <div class=" hang">
                                <div class="yan-left">
                                <p class="form "><input style="width: 100px;" type="text" autocomplete="off" name="code" placeholder="验证码"></p>
                                </div>
                                <div class="yan-right">
                                    <a href="#" onclick="change_code()" title="换一换">
                                        <img id="mycode" src="{% url 'dormitory:code' %}">

                                    </a>

                                </div>
                            </div>
                            <div class="end-sub">
                                <div class="user" style="color: white">
                                        <input type="radio" name="user" value="admin" checked >管理员
                                        <input type="radio" name="user" value="student">学生
                                </div>
                                <br>
                                <div class="sub">
                                    <button type="submit" id="submit" class="btn" >登录</button>

                                </div>
                            </div>
                    </form>
                    <a href="#">忘记密码?</a>
                </span>
            </div>

            <div id="login_img"><!-- 图片绘制框 -->
                <span class="circle">
                    <span><input type="button" value="Log in" class="btn" onclick="login()" style="margin-right: 20px;"></span>
										
										
                    <span><input type="button" value="Sign in" class="btn" onclick='signin()' id="btn"></span>
                </span>
                <span class="star">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <span class="fly_star">
                    <span></span>
                    <span></span>
                </span>
                <p id="title">CLOUD</p>
            </div>
        </div>
    </div>
</body>
<script>

    function change_code() {
                // $("#mycode").attr("src", "/dormitory/code/?id="+ Math.random())
                $("#mycode").attr("src", "/dormitory/code/?id="+ new Date().getTime())

            }


    var onoff = true//根据此布尔值判断当前为注册状态还是登录状态
    var confirm = document.getElementsByClassName("confirm")[0]
    //var user = document.getElementById("user")
    //var passwd = document.getElementById("passwd")
    //var con_pass = document.getElementById("confirm-passwd")
    
    //自动居中title
    var name_c = document.getElementById("title")
    name = name_c.innerHTML.split("")
    name_c.innerHTML = ""
    for (i = 0; i < name.length; i++)
        if (name[i] != ",")
            name_c.innerHTML += "<i>" + name[i] + "</i>"
    //引用hint()在最上方弹出提示
    function hint() {
        let hit = document.getElementById("hint")
        hit.style.display = "block"
        setTimeout("hit.style.opacity = 1", 0)
        setTimeout("hit.style.opacity = 0", 2000)
        setTimeout('hit.style.display = "none"', 3000)
    }
    //回调函数
    /*function submit(callback) {
        //if (passwd.value == con_pass.value) {
        let request = new XMLHttpRequest()
        let url = ""
        request.open("post", url, true)
        let data = new FormData()
        data.append("user", user.value)
        data.append("passwd", passwd.value)
        request.onreadystatechange = function() {
            if (this.readyState == 4) {
                callback.call(this, this.response)
                //console.log(this.responseText)
            }
        }
        request.send(data)
    }*/
    /*else {
               hit.innerHTML = "两次密码不同"
               hitting()
           }
       }*/
    //注册按钮
    function signin() {
         $("#mycode").attr("src", "/dormitory/code/?id="+ new Date().getTime())

        let status = document.getElementById("status").getElementsByTagName("i")
        let hit = document.getElementById("hint").getElementsByTagName("p")[0]
        if (onoff) {
                    let _form = document.getElementById("form")
                    _form.action="{% url 'dormitory:admin_register' %}"
                    let _submit = document.getElementById("submit")
                    _submit.innerHTML = "注册"
					
            confirm.style.height = 51 + "px"
            status[0].style.top = 35 + "px"
            status[1].style.top = 0
            onoff = !onoff
        } else {
            if (!/^[A-Za-z0-9]+$/.test(user.value))
                hit.innerHTML = "账号只能为英文和数字"
            else if (user.value.length < 6)
                hit.innerHTML = "账号长度必须大于6位"
            else if (passwd.value.length < 6)
                hit.innerHTML = "密码长度必须大于6位"
            else if (passwd.value != con_pass.value)
                hit.innerHTML = "两次密码不相等"
            else if (passwd.value = con_pass.value) {
                submit(function(res) {
                    if (res == "exist")
                        hit.innerHTML = "该账号已存在"
                    else if (res == true) {
                        hit.innerHTML = "账号注册成功，两秒后自动刷新页面"
                        setTimeout("window.location.reload()", 2000)
                    } else if (res == false)
                        hit.innerHTML = "账号注册失败"
                })
            }
            hint()
        }
    }

    //登录按钮
    function login() {
         $("#mycode").attr("src", "/dormitory/code/?id="+ new Date().getTime())
        let _submit = document.getElementById("submit")
        _submit.innerHTML = "登录"
        if (onoff) {
                let _form = document.getElementById("form")
                _form.action="{% url 'dormitory:login' %}"
						
            /*let request = new XMLHttpRequest()
            let url = ""
            request.open("post", url, true)
            let data = new FormData()
            data.append("user", user.value)
            data.append("passwd", passwd.value)
            request.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.responseText == false)
                        hint()
                    else
                        window.location.href = this.responseText;
                }
            }
            request.send(data)*/
        } else {
            let status = document.getElementById("status").getElementsByTagName("i")
            confirm.style.height = 0
            status[0].style.top = 0
            status[1].style.top = 35 + "px"
            onoff = !onoff
        }
    }

</script>
</html>
